<ul class="breadcrumb">
  <li>
    <a routerLink="/corporate/list">Coporates</a>
  </li>
  <li class="active">New Corporate</li>
</ul>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">New Corporate</h3>
      </div>
      <div class="panel-body">
        <form [formGroup]="corporateFormGroup" novalidate="novalidate">
          <div class=" form-group">
            <label>Corporate Name</label>
            <input type="text" placeholder="Enter Corporate Name" class="form-control" name="corporate_name" formControlName="corporate_name">
          </div>
          <div class="form-group">
            <label>Corporate Address</label>
            <textarea placeholder="Enter Address " name="corporate_address" rows="3" id="autocomplete" class="form-control" formControlName="corporate_address"
              required="" autocomplete="off"></textarea>
            <br>
          </div>
          <div class="row">
            <div class="col-sm-4 form-group">
              <label>Corporate City</label>
              <input type="text" name="corporate_city" id="corporate_city" placeholder="Corporate City" class="form-control" formControlName="corporate_city">
            </div>
            <div class="col-sm-4 form-group">
              <label>Corporate State</label>
              <input type="text" name="corporate_state" id="corporate_state" placeholder="Corporate State" class="form-control" formControlName="corporate_state">
            </div>
            <div class="col-sm-4 form-group">
              <label>Corporate Country</label>
              <input type="text" id="corporate_country" placeholder="Country" class="form-control" name="corporate_country" formControlName="corporate_country">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 form-group">
              <label>Contact Person Name</label>
              <input type="text" name="contact_person" id="contact_person" placeholder="contact person" class="form-control" formControlName="contact_person">
            </div>
            <div class="col-sm-4 form-group">
              <label>Email Email</label>
              <input type="email" placeholder="Enter Email" class="form-control" name="contact_email" id="contact_email" formControlName="contact_email">
            </div>
            <div class="col-sm-4 form-group">
              <label>Contact Person Phone No.</label>
              <input type="text" name="contact_phone" id="contact_phone" placeholder="Phone No." class="form-control" formControlName="contact_phone">
            </div>
          </div>
          <button type="submit" class="btn btn-primary" (click)="createCorporate()" id="submit">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
