<ul class="breadcrumb">
  <li class="active">Restaurants</li>
</ul>

<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <button class="btn btn-primary" (click)="navigateToNewRestaurant()">New Restaurant</button>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Restaurant Name</th>
            <th>Address</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let restaurant of restaurants; let i = index">
            <td>{{restaurant.restaurant_name}}</td>
            <td>{{restaurant.restaurant_address}}</td>
            <td><a href="javascript:;">Edit</a> | <a href="javascript:;" (click)="deleteRestaurant(restaurant.restaurant_id, i)">Delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
