<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/restaurants">Restaurants</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Types</li>
  </ol>
</nav>
<div class="clearfix mb-3">
  <button type="button" class="btn btn-outline-primary float-right" (click)="newRestaurantType()">New Restaurant Type</button>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Restaurant Type</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let restaurantType of restaurantTypes; let i = index">
            <td scope="row">{{restaurantType.restaurantTypeId}}</td>
            <td>{{restaurantType.restaurantTypeName}}</td>
            <td>
              <button type="button" class="btn btn-outline-secondary btn-sm" (click)="editRestaurantType(restaurantType.restaurantTypeId)">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteRestaurantType(restaurantType.restaurantTypeId)">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="loader-small m-auto" *ngIf="isShowLoader"></div>
  </div>
</div>
