<ul class="breadcrumb">
  <li class="active">Corporates</li>
</ul>

<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <button class="btn btn-primary" (click)="navigateToNewCorporate()">New Corporate</button>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Corporate Name</th>
            <th>Address</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Test 123</td>
            <td>sadfs</td>
            <td>Edit | Delete</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
