<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/corporates">Corporates</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">New Corporate</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12">
    <form [formGroup]="corporateFormGroup" novalidate="novalidate">
      <div class="row">
        <div class="col-sm-12">
          <div class=" form-group">
            <label>Corporate Name</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': corporateFormGroup.controls['corporateName'].errors && !corporateFormGroup.controls['corporateName'].pristine}"
              name="corporateName" formControlName="corporateName" maxlength="50">
            <div *ngIf="corporateFormGroup.controls['corporateName'].errors && !corporateFormGroup.controls['corporateName'].pristine"
              class="invalid-feedback">
              <div [hidden]="!corporateFormGroup.controls['corporateName'].errors.required">Corporate name is required.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label>Contact Person</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': corporateFormGroup.controls['contactPerson'].errors && !corporateFormGroup.controls['contactPerson'].pristine}"
              name="contactPerson" formControlName="contactPerson" maxlength="50">
            <div *ngIf="corporateFormGroup.controls['contactPerson'].errors && !corporateFormGroup.controls['contactPerson'].pristine"
              class="invalid-feedback">
              <div [hidden]="!corporateFormGroup.controls['contactPerson'].errors.required">Contact person is required.</div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Contact Email</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': corporateFormGroup.controls['contactEmail'].errors && !corporateFormGroup.controls['contactEmail'].pristine}"
              name="contactEmail" formControlName="contactEmail" maxlength="50">
            <div *ngIf="corporateFormGroup.controls['contactEmail'].errors && !corporateFormGroup.controls['contactEmail'].pristine"
              class="invalid-feedback">
              <div [hidden]="!corporateFormGroup.controls['contactEmail'].errors.required">Contact email is required.</div>
              <div [hidden]="!corporateFormGroup.controls['contactEmail'].errors.email">Invalid email.</div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Contact Phone</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': corporateFormGroup.controls['contactPhone'].errors && !corporateFormGroup.controls['contactPhone'].pristine}"
              name="contactPhone" formControlName="contactPhone" maxlength="50">
            <div *ngIf="corporateFormGroup.controls['contactPhone'].errors && !corporateFormGroup.controls['contactPhone'].pristine"
              class="invalid-feedback">
              <div [hidden]="!corporateFormGroup.controls['contactPhone'].errors.required">Corporate phone is required.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label>Corporate Address</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': corporateFormGroup.controls['corporateAddress'].errors && !corporateFormGroup.controls['corporateAddress'].pristine}"
              name="corporateAddress" formControlName="corporateAddress" maxlength="50">
            <div *ngIf="corporateFormGroup.controls['corporateAddress'].errors && !corporateFormGroup.controls['corporateAddress'].pristine"
              class="invalid-feedback">
              <div [hidden]="!corporateFormGroup.controls['corporateAddress'].errors.required">Corporate address is required.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label>Corporate City</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': corporateFormGroup.controls['corporateCity'].errors && !corporateFormGroup.controls['corporateCity'].pristine}"
              name="corporateCity" formControlName="corporateCity" maxlength="50">
            <div *ngIf="corporateFormGroup.controls['corporateCity'].errors && !corporateFormGroup.controls['corporateCity'].pristine"
              class="invalid-feedback">
              <div [hidden]="!corporateFormGroup.controls['corporateCity'].errors.required">City is required.</div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>State</label>
            <select class="form-control" [ngClass]="{'is-invalid': corporateFormGroup.controls['corporateState'].errors && !corporateFormGroup.controls['corporateState'].pristine}"
              name="corporateState" id="restaurantState" formControlName="corporateState">
              <option value="">Select State</option>
              <option *ngFor="let state of states" [ngValue]="state.abbreviation">{{state.name}}</option>
            </select>
            <div *ngIf="corporateFormGroup.controls['corporateState'].errors && !corporateFormGroup.controls['corporateState'].pristine"
              class="invalid-feedback">
              <div [hidden]="!corporateFormGroup.controls['corporateState'].errors.required">State is required.</div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Country</label>
            <input type="text" class="form-control" [attr.disabled]="true" [ngClass]="{'is-invalid': corporateFormGroup.controls['corporateCountry'].errors && !corporateFormGroup.controls['corporateCountry'].pristine}"
              name="corporateFormGroup" formControlName="corporateCountry" maxlength="50">
            <div *ngIf="corporateFormGroup.controls['corporateCountry'].errors && !corporateFormGroup.controls['corporateCountry'].pristine"
              class="invalid-feedback">
              <div [hidden]="!corporateFormGroup.controls['corporateCountry'].errors.required">Country is required.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Restaurants</label>
            <p-multiSelect [options]="restaurants" [styleClass]="'w-100 form-control'" formControlName="corporateRestaurantIds"></p-multiSelect>
            <div *ngIf="corporateFormGroup.controls['corporateRestaurantIds'].errors && !corporateFormGroup.controls['corporateRestaurantIds'].pristine"
              class="text-danger">
              <div [hidden]="!corporateFormGroup.controls['corporateRestaurantIds'].errors.required">Open days is required.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <button type="submit" class="btn btn-primary float-right" [ngClass]="{'loading': isLoading}" (click)="saveCorporate()"
          [disabled]="corporateFormGroup.invalid">Save</button>
      </div>
    </form>
  </div>
</div>
